.livemainWrap {
    display: grid;
    grid-template-columns: 230px 1fr;
    height: 778px;
    background: rgba(254, 254, 254, 0.766);
    background: linear-gradient(
      180deg,
      rgb(216, 204, 221) 40%,
      rgba(255, 255, 255, 0) 81%
    )
}

.aside{
    background: #1c1e29;
    padding: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    height: 778px;
}

.asideInner {
  flex: 1;
}

.clientsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.username {
  margin-top: 10px;
}

.liveLogo {
  border-bottom: 1px solid #e098f7;
  padding-bottom: 10px;
}

.leaveBtn {
  background: #6a4cff;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

.leaveBtn:hover {
  background: #907bf9;
}

.copyBtn {
  background: white;
}

.copyBtn:hover {
  background: gray;
}

.editorCenter {
    margin-top: 10vh;

}

.CodeMirror {
  min-height: calc(106.5vh);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
  width: auto;
}

.joinchatBtn {
  background: #0091ff;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.joinchatBtn:hover {
  background: #66bafb;
}
