.liveimage-Container {
  width: 200px;
  height: 200x;
  overflow: hidden;
  display: flex;
}

.livehomeLogo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.livehomepageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: rgba(254, 254, 254, 0.766);
  background: linear-gradient(
      180deg,
      rgb(216, 204, 221) 40%,
      rgba(255, 255, 255, 0) 81%
    ),
    url("../images/LiveHome.jpg");
  background-blend-mode: normal;
  background-size: cover;
}

.formWrapper {
  background-color: #e098f7;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.liveCollabHomebtn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn {
  background: #6a4cff;
  width: 100px;
  margin: auto;
}

.joinBtn:hover {
  background: #907bf9;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #6a4cff;
  text-decoration: none;
  border-bottom: 1px solid #6a4cff;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover {
  color: #2a00ff;
  border-color: #2a00ff;
}
