.live_chat_main_wrap{
  background: rgba(254, 254, 254, 0.766);
  background: linear-gradient(
      180deg,
      rgb(216, 204, 221) 40%,
      rgba(255, 255, 255, 0) 81%
    ),
    url("../images/LiveHome.jpg");
  background-blend-mode: normal;
  background-size: cover;
}